<h1>画像一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>投稿内容</th>
    <th>投稿者</th>
    <th>コメント</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= image_tag picture.image.url if picture.image.present? %></td>
    <td><%= picture.user.name %></td>
    <td><%= picture.content %></td>
    <td><%= link_to "詳細を確認", picture_path(picture.id) %></td>
    <td><%= link_to "編集", edit_picture_path(picture.id) %></td>
    <td><%= link_to "削除", picture_path(picture.id), method: :delete, data: {confirm: "本当に削除しますか?"} %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しく投稿する', new_picture_path %>