<h1>画像詳細画面</h1>
<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>
<p>投稿者: <%= @picture.user.name %></p>
<p>コメント: <%= @picture.content %></p>

<%= link_to "Back", pictures_path %>
<%= link_to 'Edit', edit_picture_path %> |